@{
    ViewBag.Title = "Search";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/Search.js"></script>
<style>
    body {
        background-color: #e8fbff;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .alpha-50 {
        background: rgba(255, 255, 255, 0.6);
    }

    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    header {
        height: 300px;
        background-image: url('https://cdn.pixabay.com/photo/2015/05/29/19/17/study-789631_1280.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>
<!-- Jumbotron -->

<div id="app">
    <header class="d-flex justify-content-center align-items-center">
        <div class="text-center">
            <div class="card alpha-50">
                <div class="card-body">
                    <h2 class="fw-bold">症狀查詢管理</h2>
                </div>
            </div>
        </div>
    </header>
    <el-card class="box-card">
        <template #header>
            <div class="card-header">
                <span>症狀查詢管理</span>
                <el-button size="small" type="success" data-bs-toggle="modal" data-bs-target="#myModal" @@click="clearTextBox();">新增資料</el-button>
            </div>
        </template>
        <div>
            <el-table :data="tableData"
                      border
                      max-height="1200"
                      :header-cell-style="{
                     'background-color': '#1989fa',
                     'color': '#fff',
                     'font-weight': '400'
                 }">
                style="width: 100%"
                :row-style="tableRowStyle>
                <el-table-column prop="SId"
                                 label="編號"
                                 width="100"
                                 align="center">
                </el-table-column>
                <el-table-column prop="SType"
                                 label="科別"
                                 width="auto"
                                 align="center">
                </el-table-column>
                <el-table-column prop="SDisease"
                                 label="症別"
                                 width="620"
                                 max-height="250">
                </el-table-column>
                <el-table-column prop="SSymptom"
                                 label="症狀"
                                 width="620"
                                 max-height="250">
                </el-table-column>
                <el-table-column label="操作" width="145">
                    <template #default="scope">
                        <el-button size="mini"
                                   type="primary"
                                   @@click="getbyID(scope.row.SId)">編輯</el-button>
                        <el-button size="mini"
                                   type="danger"
                                   @@click.prevent="Delele(scope.row.SId)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-card>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">門診管理</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <el-form>
                        <div class="form-group">
                            <el-divider content-position="left">ID</el-divider>
                            <input type="text" id="SId" class="form-control" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <el-divider content-position="left">科別</el-divider>
                            <input type="text" id="SType" class="form-control" />
                        </div>
                        <div class="form-group">
                            <el-divider content-position="left">症別</el-divider>
                            <input type="text" id="SDisease" class="form-control" />
                        </div>
                        <div class="form-group">
                            <el-divider content-position="left">症狀</el-divider>
                            <input type="text" id="SSymptom" class="form-control" />
                        </div>
                    </el-form>
                </div>
                <div class="modal-footer">
                    <span class="dialog-footer">
                        <button class="btn btn-outline-primary" round id="btnAdd" onclick="return Add();">新增</button>
                        <button class="btn btn-outline-primary" round id="btnUpdate" style="display:none;" onclick="Update();">更新</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="https://unpkg.com/vue@next"></script>
    <link href="~/Content/tailwind.min.css" rel="stylesheet" />
    <script src="//unpkg.com/element-plus"></script>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/Scripts/SearchKeyword.js"></script>
}